.btn {
    position: relative;
    padding: 0.4rem 1rem;
    background: $blue-primary;
    color: $white;
    border: 0.1rem solid $blue-primary;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    transition: 0.5s;

    &:hover {
        background: $white;
        color: $blue-primary;
    }
}