// color
$blue-primary: #287bff;
$white: #fff;
$black-primary: #222;
$black-secondary: #999;
$sucess: #8de02c;
$warning: #f9ca4f;
$danger: #f00;
$info: #1975ce;


// size
$navigation-width: 30rem;
$navigation-width-toggle: 8rem;